body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Orbitron", monospace;
}

.clock-container {
  height: 200px;
  width: 450px;
  /* background-color: #000000; */
}

.clock-glass {
  color: #e7e7e7;
  text-shadow: 0 0 5px #00ade2, 0 0 10px #00ade2, 0 0 20px #00ade2,
    0 0 40px #00ade2;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* Safari compatibility */
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.time span {
  font-size: 40px;
  width: 60px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.fade {
  opacity: 0;
  transform: scaleY(0.1);
  transition: opacity 0.3s ease, transform 0.8s ease;
}

.digit-box {
  height: 100%; /*60px*/
  width: 100px; /*70px*/
  /* background-color: black; */
}
