body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Orbitron", monospace;
}

.clock-container {
  height: 200px;
  width: 600px;
  /* background-color: #000000; */
}

.clock {
  color: #e7e7e7;
  text-shadow: 0 0 5px #00ade2, 0 0 10px #00ade2, 0 0 20px #00ade2,
    0 0 40px #00ade2;
  margin-top: 40px;
}

.time span {
  font-size: 40px;
  width: 70px;
  display: inline-block;
  text-align: center;
  position: relative;
}
